header, section, footer {
  width: 800px;
  margin: auto;
}

h2 {
  width: 740px;
  margin-left: 30px;
}

@media (max-width: 500px) {
  header, section, footer {
    width: 350px;
    margin: auto;
  }

  h2 {
    width: 350px;
    margin-left: 0px;
  }
}
